 <!-- Registration Form -->
 <form [formGroup]="registerForm" (ngSubmit)="register()">
    <!-- Name -->
    <div class="mb-3">
      <label class="inline-block mb-2">Name</label>
      <input formControlName="name" type="text" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" placeholder="Enter Name" />
      <div *ngIf="name!.touched && !name!.valid" class="text-red-400">
        <p *ngIf="name!.errors?.required">Name field is required.</p>
        <p *ngIf="name!.errors?.minlength">Name field should be of atleast {{name!.errors?.minlength.requiredLength}} characters.</p>
      </div>
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="inline-block mb-2">Email</label>
      <input formControlName="email" type="email" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" placeholder="Enter Email" />
      <div *ngIf="email!.touched && !email!.valid" class="text-red-400">
        <p *ngIf="email!.errors?.required">Email field is required.</p>
        <p *ngIf="email!.errors?.email">Email is not valid.</p>
      </div>
    </div>
    <!-- Age -->
    <div class="mb-3">
      <label class="inline-block mb-2">Age</label>
      <input formControlName="age" type="number" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" />
      <div *ngIf="age!.touched && !age!.valid" class="text-red-400">
        <p *ngIf="age!.errors?.required">Age field is required.</p>
        <p *ngIf="age!.errors?.min">User must be atleast {{age!.errors?.min.min}} years old.</p>
      </div>
    </div>
    <!-- Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Password</label>
      <input formControlName="password" type="password" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" placeholder="Password" />
      <div *ngIf="password!.touched && !password!.valid" class="text-red-400">
        <p *ngIf="password!.errors?.required">Password field is required.</p>
        <p *ngIf="password!.errors?.pattern">Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</p>
      </div>
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label class="inline-block mb-2">Confirm Password</label>
      <input formControlName="confirm_password" type="password" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Confirm Password" />
        <div *ngIf="confirm_password!.touched && (!confirm_password!.valid || registerForm!.errors?.confirmPassword)" class="text-red-400">
          <p *ngIf="confirm_password!.errors?.required">confirm_password field is required.</p>
          <p *ngIf="registerForm!.errors?.confirmPassword">Confirm password must match password.</p>
        </div>
    </div>
    <!-- Phone Number -->
    <div class="mb-3">
      <label class="inline-block mb-2">Phone Number</label>
      <input formControlName="phoneNumber" type="text" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
        placeholder="Enter Phone Number" />
        <div *ngIf="phoneNumber!.touched && !phoneNumber!.valid" class="text-red-400">
          <p *ngIf="phoneNumber!.errors?.required">Phone number field is required.</p>
          <p *ngIf="phoneNumber!.errors?.pattern">Phone number must be of 10 digits.</p>
        </div>
    </div>
    <button type="submit" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
    hover:bg-indigo-500" [disabled]="registerForm.invalid" [ngClass]="{'disabled:opacity-50':registerForm.invalid || inSubmission}">
      Submit
    </button>
  </form>